@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#141e30 ,#243b55)
}
form{
	width: 25rem;
	height: 25rem;
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.06);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .6);
	border-radius: 30px;
	border-left: 1px solid rgba(255, 255, 255, .3);
	border-top: 1px solid rgba(255, 255, 255, .3);
}
h1{
	font-size: 40px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px rgba(0,0,0,.2);
	margin-bottom: 3px;
	opacity: 7;
}
label{
	font-size: 20px;
	color: white;
	margin-left: 10%;
	opacity: 8px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}
input{
	width: 60%;
	margin: 3% auto;
	border: none;
	outline: none;
	background: transparent;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	opacity: .8;

}
button{
	width: 30%;
	margin: 3% auto;
	color: white;
	font-size: 15px;
	opacity: .7;
	background: rgba(255, 255, 255, 0.6);
	padding: 10px,30px;
	border: none;
	outline: none;
	border-radius: 3px;
	text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.6);
	box-shadow: 3px 3px 5px rgba(31,38,135,.37);
	border-left: 1px solid white;
	border-top: 1px solid white;

}
a{
	font-size: 8px;
	text-align: center;
	color: white;
	opacity: .8;


}
.new{
    font-size: 25px;
}